@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/konpa/devicon@master/devicon.min.css');

@layer components {
    .primary-accent-color {
        @apply bg-gradient-to-r from-indigo-500 to-blue-500;
    }

    .primary-accent-text {
        @apply primary-accent-color font-bold bg-clip-text text-transparent
    }

    .scroll-to-top-btn {
        bottom: 5%;
        right: 5%;
        width: 30px;
        height: 30px;
    }

    .scroll-to-top-btn-arrow {
        border: solid rgba(255,255,255,0.7);
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
        margin-left: 9px;
        margin-top: 11px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }
}