name: Tests

permissions:
  contents: read

on:
  pull_request:
    branches: ["master"]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "21.6.1"
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Restore cache
        uses: actions/cache@v5
        with:
          path: |
            public
            .cache
          key: ${{ runner.os }}-gatsby-build-${{ hashFiles('package-lock.json', 'gatsby-config.ts') }}
          restore-keys: |
            ${{ runner.os }}-gatsby-build-

      - name: Run typecheck
        run: npm run typecheck

      - name: Run tests
        run: npm test

      - name: Build with Gatsby
        run: npm run build
